@import "../../variables";
.toolbar {
  width: 100%;
  padding: 0 4rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  justify-content: space-between;
  a {
    color: white;
    text-decoration: none;
    transition: all 0.2s ease-in-out;

    &:hover {
      filter: brightness(0.7);
    }
  }

  .toolbar__title {
    cursor: pointer;
  }

  .toolbar__links {
    li {
      display: inline;
      list-style-type: none;
      font-size: $fontSize-menu;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      &:hover {
        filter: brightness(0.7);
      }
    }

    li:not(:first-child) {
      margin-left: 1rem;
    }
  }
}

@media screen and (max-width: 560px) {
  .toolbar__links {
    visibility: hidden;
  }
}

@media screen and (min-width: 561px) {
  .menu-button {
    display: none;
  }
}
