// Constants
$toolbar-vertical: 4rem;

//Colors
$primary-color: #f5f6f6;

//Font size
$fontSize-menu: 16px;

//Padding
$padding-page: 0rem 8rem;
$padding-nav-horizontal: 8rem;

//Heights
$height-content: calc(100vh - $toolbar-vertical);
