// Constants
$toolbar-vertical: 4rem;

//Colors
$color-background: #f4f5f5;
$color-background-alt: #e7e9e9;

//Font size
$fontSize-menu: 16px;

//Padding
$padding-page: 0rem 8rem;
$padding-nav-horizontal: 8rem;

//Heights
$height-content: calc(100vh - $toolbar-vertical);
