<div class="summoner-header-container">
  <img [src]="summonerIconUrl" alt="summoner icon" class="summoner-icon" />
  <div class="summoner-info">
    <h3 class="summoner-name">{{ summoner.name }}</h3>
    <p class="summoner-level">Level {{ summoner.level }}</p>
    <button
      (mouseenter)="handleUpdateButtonHover()"
      (mouseleave)="handleUpdateButtonHover()"
      class="button-update"
    >
      Update
    </button>
    <p *ngIf="shouldDisplayLastUpdated" class="last-updated-text">
      Last updated:
    </p>
  </div>
</div>
