<div class="home-container">
  <h2 class="hero__header">
    Gain insights into summoners, champions and builds
  </h2>

  <p class="hero__subtext">
    Increase your impact on the rift and reach the next league
  </p>

  <div class="search">
    <select
      name="search-region"
      [(ngModel)]="selectedRegion"
      (change)="onRegionSelected(regionSelect.value)"
      id="search-region-dropdown"
      #regionSelect
    >
      <option value="" disabled selected>Select Region</option>
      <option *ngFor="let region of regions">{{ region }}</option>
    </select>

    <input
      type="text"
      name="summoner-search"
      id="summoner-search"
      class="search__input"
      placeholder="Search Summoner"
    />

    <span class="material-symbols-outlined" id="search-button"> search </span>
  </div>

  <div class="profile-suggestions-container">
    <p class="suggestions-header">Summoner Profile</p>
  </div>
</div>
