@import "../../variables";
@import "../../shared";

.champions-container {
  @include page-container;
  width: 100%;

  .champions-search {
    display: flex;
    flex-direction: row;

    input {
      padding: 0.5rem 1rem;
      width: 40%;
    }
  }

  .champions-directory {
    margin-top: 2rem;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
  }
}
